{extend name="layout" /}
{block name="title"}
	  <div class="am-cf am-padding">
         <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">后台管理</strong> / <small>添加楼</small></div>
      </div>
{/block}
{block name="content"}
<div class="am-container">
	<div class="am-panel am-panel-default">
	  <div class="am-panel-hd">添加楼</div>
	  <div class="am-panel-bd">
			<div class="am-g">
			  <div class="am-u-md-4">
			    <form  class="am-form" method="post" >
			        <input name='floor_name' type="text" placeholder="填写楼名">
			        <br>
			        <input name='shui_price'  type="text" placeholder="水费单价">
			        <br>
			        <input name='dian_price'  type="text" placeholder="电费单价">
			        <br>
			        <input name='address' type="text" placeholder="地址">
			        <br>	    
				    <select name='user'  class="">
				      {volist name='users' id='value'}
				      <option value="{$value.user}">{$value.user}</option>
				      {/volist}
				    </select>
			        <br>
			        <input type="text" placeholder="电话">    
			        <br>
			        <button type="submit" class="am-btn am-btn-primary am-btn-block">添加</button>
			    </form>
			  </div>
			</div>
	  </div>
	</div>
</div>
{/block}
{block name="script"}
<script>
      
</script>
{/block}